.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.MuiButton-root {
  height: 5vh;
  width: 20vh;
  color: "black";
  background: "#ECDCB1";
  margin: 1vh;
}

.MuiTypography-root {
  variant: "caption";
}

@media screen and (max-width: 600px) {
  /* Styles for small screens */
  .MuiButton-root {
    height: 3vh;
    width: 15vh;
    color: "black";
    background: "#ECDCB1";
    margin: 0.5vh;
  }

  .MuiTypography-root {
    size: 0.5vh;
  }

  .img-footer {
    padding-top: 100px;
    width: '100%';
    height: 'auto';
    display: 'block';
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* Styles for medium screens */
  .MuiButton-root {
    height: 4vh;
    width: 16vh;
    color: "black";
    background: "#ECDCB1";
    margin: 1vh;
  }

  .MuiTypography-root {
    size: 4vh;
  }

  .img-footer {
    padding-top: 200px;
    width: '100%';
    height: 'auto';
    display: 'block';
  }
}

@media screen and (min-width: 1025px) {
  /* Styles for large screens (e.g., desktops) */
    /* Styles for medium screens */
    .MuiButton-root {
      height: 5vh;
      width: 20vh;
      color: "black";
      background: "#ECDCB1";
      margin: 1vh;
    }
  
    .MuiTypography-root {
      size: 5vh;
    }

    .img-footer {
      padding-top: 300px;
      width: '100%';
      height: 'auto';
      display: 'block';
    }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
