.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* .MuiButton-root {
  height: 5vh;
  width: 20vh;
  color: "black";
  background: "#ECDCB1";
  margin: 1vh;
} */

.MuiButton-root {
  color: "black";
  background: "#ECDCB1";
}

@media screen and (max-width: 600px) {
  /* Styles for small screens */

  .button-bot-link {
    margin: 3px;
  }

  .box-padding {
    padding-bottom: 20px;
  }

  .MuiStack-root {
    width: 50vh;
  }

  .MuiButton-root {
    height: 3vh;
    width: 15vh;
    color: "black";
    background: "#ECDCB1";
    margin: 0.5vh;
  }

  .typography-title {
    font-size: 1rem;
    color: "#ECDCB1";
    font-family: "tektur";
    align-self: center;
  }

  .typography-bot {
    font-family: "tektur";
    font-size: small;
  }

  .MuiTypography-root {
    font-size: 0.5rem;
  }

  .img-banner {
    width: 100%;
  }

  .img-header {
    display: none;
    /* width: 100%; */
  }

  .img-footer {
    display: none;
    /* padding-top: 100px;
    width: 100%; */
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* Styles for medium screens */

  .box-padding {
    padding-bottom: 100px;
  }

  .button-bot-link {
    margin: 7px;
  }

  .MuiStack-root {
    width: 100vh;
  }

  .MuiButton-root {
    height: 4vh;
    width: 16vh;
    color: "black";
    background: "#ECDCB1";
    margin: 1vh;
  }

  .typography-title {
    font-size: 3rem;
    color: "#ECDCB1";
    font-family: "tektur";
    align-self: center;
  }

  .typography-bot {
    font-family: "tektur";
  }

  .MuiTypography-root {
    font-size: 1rem;
  }

  .img-banner {
    width: 100%;
  }

  .img-header {
    /* width: 100%; */
  }

  .img-footer {
    padding-top: 200px;
    /* width: 100%; */
  }
}

@media screen and (min-width: 1025px) {
  /* Styles for large screens (e.g., desktops) */

  .box-padding {
    padding-bottom: 150px;
  }

  .button-bot-link {
    margin: 10px;
  }
  
  .MuiStack-root {
    width: 150vh;
  }

  .MuiButton-root {
    height: 5vh;
    width: 20vh;
    color: "black";
    background: "#ECDCB1";
    margin: 1vh;
  }

  .MuiTypography-root {
    font-size: 5rem;
  }

  .typography-title {
    font-size: 5rem;
    color: "#ECDCB1";
    font-family: "tektur";
    align-self: center;
  }

  .typography-bot {
    font-family: "tektur";
  }

  .img-banner {
    width: 100%;
  }

  .img-header {
    /* width: 100%; */
  }

  .img-footer {
    padding-top: 300px;
    /* width: 100%; */
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
